


<html>
{% load static %}
    <head>
        <title>로그인</title>
        <link rel="stylesheet" href="{%static 'css/login_.css'%}">
    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
<!--                    <button type="button" class="togglebtn" onclick="register()">REGISTER</button>-->
                </div>

                <form id="login" action="loginimpl" class="input-group"  method="post">
                    {% csrf_token %}
                    <input type="text" class="input-field" placeholder="User name or Email" required name="id">
                    <input type="password" class="input-field" placeholder="Enter Password" required name="pwd">
                    <input type="checkbox" class="checkbox"><span>Remember Password</span>
                    <button class="submit">Login</button>
                </form>
            </div>
        </div>
        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");


            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>